body {
  background-color: #222222;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  width: 1100px;
}

.todo-completed-percentage {
  text-align: center;
  color: #444444;
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 30px;
}

.all-completed-text {
  color: hsla(120, 100%, 80%, 0.7);
}

.todo-list-top-part {
  display: flex;
}

.todo-list-input {
  font-weight: bold;
  background-color: transparent;
  flex: 1;
  border: 3px aliceblue solid;
  color: aliceblue;
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 1.6rem;
  transition: box-shadow 250ms ease;
}

.todo-list-input:hover,
.todo-list-input:focus {
  box-shadow: 0px 0px 30px hsl(200, 100%, 90%, 0.2);
}

.add-button {
  font-weight: bold;
  color: aliceblue;
  background-color: transparent;
  border: 3px aliceblue solid;
  cursor: pointer;
  font-size: 1.6rem;
  height: 80px;
  width: 120px;
  border-radius: 10px;
  margin-left: 30px;
  transition:
    background-color 250ms ease,
    color 250ms ease,
    box-shadow 250ms ease;
}

.add-button:hover {
  background-color: aliceblue;
  box-shadow: 0px 0px 20px hsl(200, 100%, 90%, 0.6);
  color: #222222;
}

.todo-list {
  max-width: 100%;
  margin-top: 40px;
  padding: 40px 50px;
  color: aliceblue;
  border: solid 3px;
  border-radius: 10px;
  font-size: 2rem;
  transition: box-shadow 250ms ease;
}

.todo-list:hover {
  box-shadow: 0px 0px 50px hsl(200, 100%, 90%, 0.2);
}

.empty-todo-text {
  color: grey;
}

.todo-content {
  display: flex;
  align-items: center;
}

.todo-text {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  flex: 1;
  margin-top: 20px;
  margin-right: 60px;
  margin-bottom: 20px;
}

.completed-todo-text {
  text-decoration-line: line-through;
  text-decoration-color: #444444;
  color: #444444;
}

.todo-editing-input {
  flex: 1;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 2rem;
  margin: 0;
  margin-right: 60px;
  height: 51px;
  border: solid aliceblue;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  background-color: transparent;
  color: aliceblue;
}

.move-todo-down-button,
.move-todo-up-button {
  display: flex;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  margin-right: 16px;
  border: dodgerblue solid 3px;
  background-color: transparent;
  color: aliceblue;
  font-size: 1.2rem;
  transition:
    background-color 250ms ease,
    border-color 250ms ease,
    box-shadow 250ms ease;
}

.move-todo-down-button:hover,
.move-todo-up-button:hover {
  background-color: dodgerblue;
  border-color: dodgerblue;
  box-shadow: 0px 0px 20px hsl(220, 100%, 60%, 0.6);
}

.move-arrow-image {
  height: 20px;
}

.edit-button {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 6px;
  padding: 8px 14px;
  margin-right: 20px;
  border: 3px solid blueviolet;
  background-color: transparent;
  color: hsl(250, 100%, 90%);
  transition:
    background-color 250ms ease,
    border-color 250ms ease,
    color 250ms ease,
    box-shadow 250ms ease,
    color 250ms ease;
}

.edit-button:hover {
  color: aliceblue;
  background-color: blueviolet;
  border-color: blueviolet;
  box-shadow: 0px 0px 20px hsl(270, 100%, 60%, 0.6);
}

.delete-button {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 6px;
  padding: 8px 14px;
  margin-right: 20px;
  border: 3px solid red;
  background-color: transparent;
  color: hsl(00, 100%, 80%);
  transition:
    background-color 250ms ease,
    border-color 250ms ease,
    color 250ms ease,
    box-shadow 250ms ease,
    color 250ms ease;
}

.delete-button:hover {
  color: aliceblue;
  background-color: red;
  border-color: red;
  box-shadow: 0px 0px 20px hsl(0, 100%, 60%, 0.6);
}

.todo-checkbox {
  cursor: pointer;
  width: 26px;
  height: 26px;
  accent-color: lightgreen;
}

.todo-checkbox:checked {
  box-shadow: 0px 0px 14px hsl(90, 100%, 70%, 0.5);
}
